html, body, #grid {
  height: 100%;
  width: 100%;
}

body {
  background-color: #212121;
  color: #fffee7;
}

h1 {
  color: #fffee7;
}

#grid {
  display: flex;
  flex-wrap: wrap;
  border: #fffee7;
}

.square {
  min-width: 5.8%;
  display: flex;
  color: aqua;
  border: solid #fffee7;
}

.square2 {
  min-width: 5.8%;
  display: flex;
  color: aqua;
  border: solid #fffee7;
  background-color: blue;
}
}